controlnet_aux==0.0.9
diffusers==0.32.2
gdown==5.2.0
huggingface_hub==0.29.3
ipython==8.12.3
matplotlib==3.7.1
numpy==1.25.0
opencv_contrib_python==4.11.0.86
pandas==2.0.2
Pillow==11.1.0
Requests==2.32.3
scikit_learn==1.6.1
streamlit==1.43.2
torch==2.6.0+cu126
transformers==4.49.0
xgboost==3.0.0
